<!DOCTYPE html>
  <head>
    <title> Contact Me </title>
  </head>
  <body>
    <ul>
      <% @contact.each do |key , value| %>
      <li><%=key%>:  <%=value%> </li>
      <% end %>
    </ul>
  </body>
</html>

# business.each do |key, value|
#   puts "The hash key is #{key} and the value is #{value}."
# end